@import "nib"

color_plomo_bg = #E2E7E1
color_plomo_letra = #A5A5A5
color_plomo_2 = #555
color_plomo_bloque = #ECF1F7
color_plomo_menu = #637A9A
color_azul_titulo = #1477DF
plomo  = #a1a1a1
azul = #1578E0


@font-face {
	font-family: 'icomoon';
	src:url(icomoon/fonts/icomoon.eot?-gi9yq2);
	src:url(icomoon/fonts/icomoon.eot?#iefix-gi9yq2) format('embedded-opentype'),
		url(icomoon/fonts/icomoon.woff?-gi9yq2) format('woff'),
		url(icomoon/fonts/icomoon.ttf?-gi9yq2) format('truetype'),
		url(icomoon/fonts/icomoon.svg?-gi9yq2#icomoon) format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
	content: "\e600";
}
.icon-twitter:before {
	content: "\e601";
}
.icon-youtube:before {
	content: "\e602";
}


#page
	.container-12
	.container-16
	.container-24
	.container-32 
		width: 1000px 


	.container-32 .grid-1
	.container-32 .grid-2
	.container-32 .grid-3
	.container-32 .grid-4
	.container-32 .grid-5
	.container-32 .grid-6
	.container-32 .grid-7
	.container-32 .grid-8
	.container-32 .grid-9
	.container-32 .grid-10
	.container-32 .grid-11
	.container-32 .grid-12
	.container-32 .grid-13
	.container-32 .grid-14
	.container-32 .grid-15
	.container-32 .grid-16
	.container-32 .grid-17
	.container-32 .grid-18
	.container-32 .grid-19
	.container-32 .grid-20
	.container-32 .grid-21
	.container-32 .grid-22
	.container-32 .grid-23
	.container-32 .grid-24
	.container-32 .grid-25
	.container-32 .grid-26
	.container-32 .grid-27
	.container-32 .grid-28
	.container-32 .grid-29
	.container-32 .grid-30
	.container-32 .grid-31
	.container-32 .grid-32
		margin-left: 10px;
		margin-right: 10px;

/* */
menu_bg = #1376de
menu_activo = #ffffff
menu_inactivo = #5d7193
titulo_celeste = #1376de
titulo_marron = #7c4d11
texto_plomo =  #767676
text_link = #1376de

@font-face
	font-family: opensansb;
	src: url(fonts/OpenSans-CondBold.ttf);

@font-face
	font-family: opensansl;
	src: url(fonts/OpenSans-CondLight.ttf);

@font-face
	font-family: opensansli;
	src: url(fonts/OpenSans-CondLightItalic.ttf);	

h1
h2
h3
h4
h5
h6
	font-family opensansl
	color titulo_celeste
	text-transform uppercase
	margin-bottom 5px


body
	background color_plomo_bg
	font-size 16px
	color texto_plomo
	font-family opensansl 


h2.block-title
	font-size 23px
	font-family: opensansb
	letter-spacing 0.02em
	font-weight: 200


p
	font-size 1em

.auspi-logos
	text-align center
	margin-top 24px
	.block-inner
		border-top 1px solid #ccc
	.block-title
		bottom: 18px;
		font-family: opensansl;
		font-weight: normal;
		left: 0;
		position: relative;
		display: inline-block;
		background #fff
		padding: 0 10px;
	.auspi-item
		display inline-block


.block.logo
	padding-left 2em


.cuentos
	background url("../images/bg-home-edicionesanteriores.jpg")  0 0 transparent
	padding: 15px 20px;
	margin-top: 10px;
	.block-title
		color titulo_marron
		margin-bottom .5em
	.cuento-item
		width 30%
		display inline-block
		overflow auto
		.titulo
			a
				color #000
				text-decoration none
		.ver-mas
			float right
			a
				padding-left .6em
				background url("../images/arrow-bullet.png") no-repeat  0 8px transparent;
				color #000
				text-decoration none
		.autor
			color #444
			.nombre
				color #444444
				font-family opensansb
		&.views-row-even
			border-left 1px dotted #555
			border-right 1px dotted #555
			margin: 0 20px;
			padding: 0 20px;

.ganadores
	.ganadores-item
		overflow: auto;
		color texto_plomo
		.imagen 
			float left
			padding: 0 10px 10px 0 
		.titulo
			color #000
			font-weight: bold;
		.edicion
			font-weight bold
		.ver-mas
			float right
			a
				color azul
				font-size: .9em
				font-weight: bold
				text-decoration none
				padding-left 1em
				background url("../images/arrow-bullet.png") no-repeat  0 8px transparent;



.field-name-field-tags
	.field-items
		display inline-block
	.field-label
		font-weight: bold
		display inline-block
	.field-item
		display inline-block
		a
			background #DDE2E8
			margin-right 10px
			color #222
			text-decoration none
			border-radius 5px
			padding 2px 5px
			font-weight: bold

.logo-auspiciador
	position relative
	p
		font-weight: bold;
		line-height: 6em;
		overflow: auto;
		padding-left: 7em;
		font-family opensansb
		font-size: .8em;
		color plomo
		font-weight bold
	img
		position absolute
		right 0
		top 0

#main-menu
	li
		margin 0
		padding 0
		a
			display inline-block
			line-height 2.75em
			padding-left  0.8em;
			color menu_inactivo
			text-transform uppercase
			font-size 1em
			font-family opensansb
			text-decoration none
			&.active
				color menu_activo
		&.first
			a
				width 53px
				height 44px
				background url('../images/menu-inicio.jpg') no-repeat 0 0 transparent
				text-indent -99999em

.node-type-ganador
.node-type-cuento
	.field-name-field-puesto
	.field-name-field-edicion
	.field-name-field-autor
	.field-name-field-cuento
		margin-bottom 15px


.node-type-ganador
	.field-name-field-image
		float left
		margin 0 20px 20px 0
	.field-name-body
		clear both


.node-type-webform
	#edit-submit
		background linear-gradient(top,  #4694E7, #1477DF);
		padding .1em 1.5em
		color #fff
		text-decoration none
		text-transform uppercase
		border-radius 5px
		// float right
		box-shadow 1px 1px 1px #222
		font-family: opensansb
		font-weight: 200
		font-size: 1em
		margin 10px 0
		text-shadow none
		


.noticias-sidebar
	.noticia-item
		overflow hidden
		margin-bottom 10px
		.imagen
			float left 
			padding-right 10px 
		.titulo
			a
				text-decoration none
				color #000
				font-weight: bold

		.ver-mas
			a
				color color_azul_titulo
				text-decoration none
				background url("../images/arrow-bullet.png") no-repeat  0 5px transparent;
				padding-left 1em
				font-weight: bold
				float right
				font-size: .9em
		p
			margin-bottom 0

.noticias
	background color_plomo_bloque
	font-size 1.2em
	font-family opensansl
	color texto_plomo
	.block-title
		padding-left 10px
		font-family: opensansb
		font-weight: 200

	.content
		padding-left 10px

	.noticia-item
		display inline-block
		width 310px
		position relative
		font-size .7em
		.group-left
			width auto
			margin-right 10px
		.group-right
			width 200px
		p
			margin 0
		h2
			font-size 1em
			margin-bottom 0
			letter-spacing 0.02em
			a
				color #000
				text-decoration none
		.field-name-node-link
			float right
			a
				color color_azul_titulo
				text-decoration none
				background url("../images/arrow-bullet.png") no-repeat  0 5px transparent;
				padding-left 1em
				font-weight: bold

		&.views-row-first
			margin-right 10px
			width: 320px;
			float: left;
			.group-right
				background rgba(0, 0, 0, 0.69)
				position absolute
				bottom 0
				left 0
				padding: 10px;
				position: absolute;
				width: 300px;
				h2
					a
						color #fff
						text-decoration none
						text-transform none
						font-size 1.2em
						letter-spacing: 0.02em;

	

.participa
.bases
	.block-title
		color color_azul_titulo
		text-transform uppercase
	.titulo
		a
			color #393939 
			text-transform uppercase
			text-decoration none
			font-weight bold
			font-family: opensansb
	.ver-mas
		text-align right
		a
			background url("../images/arrow-bullet.png") no-repeat  0 5px transparent;
			padding-left 1em
			text-decoration none
			color azul
			font-size: .9em
			font-weight bold


.participa
	padding-top 30px
	.content
		border-left 1px dotted #555
		border-right 1px dotted #555
		padding: 0 30px;
	
.fechas-importantes
	.block-title
		color #000
		text-transform uppercase
		text-decoration none
		font-weight bold
		font-size 1em
	.content
		margin-top 10px
	strong
		color #111
		font-weight: 200
		font-family: opensansb



.page-ediciones-anteriores
	h1
		background #E7E7E7
		color #333
		font-family  opensansb
		letter-spacing 0.02em
		position relative
		left -10px
		padding-left 10px
		margin-top 2px
		font-size: 2.2em
	.cabecera
		position relative
		select
			position absolute
			right 30px
			top 13px
	.edicion-fotos
		.imagenes
			li
				display inline-block
				margin 0 18px 0 0
				&.last
					margin 0
			img
				width 135px
				height 135px
		.meta-wrapper
			display none
		.media-gallery-item
			border 1px solid #444
			padding 2px

.page-edicion-actual
	.view-content
		h1
			background #E7E7E7
			color #333
			font-family  opensansb
			letter-spacing 0.02em
			position relative
			left -10px
			padding-left 10px
			margin-top 2px
			font-size: 2.2em
	.bases
		/ .vermas2
		/ .more-link
		.ver-mas
			a
				background linear-gradient(top,  #4694E7, #1477DF);
				padding .1em 1.5em
				color #fff
				text-decoration none
				text-transform uppercase
				border-radius 5px
				float right
				box-shadow 1px 1px 1px #222
				font-family: opensansb
				font-weight: 200
				font-size: 1em
				margin 10px 0
	#region-content
		.block-title
			font-family: opensansl

.page-taxonomy-term-8 .region-content .content
.page-taxonomy-term-9 .region-content .content
.listado			
.jurado-actual
	padding 3px 10px
	background #F3F3F3
	overflow hidden
	.listado-item
	.jurado-item
		overflow hidden
		background #fff
		padding 5px
		margin-top 10px
		box-shadow 1px 1px 1px #ccc
		.field-name-field-image
		.imagen
			float left
			margin-right 10px
		.titulo
			color #222
			font-family opensansb
			font-weight: 200
	



.tags
	#block-system-main
		.content
			padding 3px 10px
			background #F3F3F3
			overflow hidden
			.node-article
				flow hidden
				background #fff
				padding 5px
				margin-top 10px
				box-sha
			.group-left
				width: auto
				margin-right 10px
			.group-right
				width: auto
				.field-name-title
					h2
						line-height 0.5em
					a
						color #222
						font-family opensansl
						font-weight: 200
						font-size: 1rem
						letter-spacing 0.02em
						text-transform capitalize
				.field-name-node-link
					display none
					a
						background url("../images/arrow-bullet.png") no-repeat  0 5px transparent;
						padding-left 1em
						text-decoration none
						color azul
						font-size: .9em
						font-weight bold
						float right
				
			



#region-menu
	margin 0

#region-preface-third
	width 270px
	padding-top: 30px;


#region-preface-first
	width 290px
	padding-left 15px

#region-preface-second
	width 335px
	padding 0 10px

#region-footer-second
#region-footer-first
#region-postscript-first 
	margin: 0;
	width: 100%;

#region-footer-second
	background #BED0E4
	width: 100%;
	margin-top: 20px;
	padding-top: 30px;
	.mf
	section
		vertical-align top
		display inline-block
		width auto
		.block-title
			text-transform capitalize
	
	.siguenos
		padding 0 50px
		h2
			text-transform uppercase
			font-size 1em
		.content
			ul
				li
					list-style none
					display inline-block
					a
						color #fff
						text-decoration none
						display inline-block
						margin 10px
						font-size: 2em
						&:hover
							color color_azul_titulo
	.mf
		padding 20px 50px
		text-align center
		border-left 1px dotted #555
		border-right 1px dotted #555
		.menu
			li
				list-style none
				&:nth-child(2)
				&:nth-child(3)
					a
						color #444
						font-family opensansl
				a
					color titulo_celeste
					text-decoration none
					font-family opensansb
					text-transform uppercase
					
	.newsletter
		width 320px
		margin 0 30px 50px
		input
			width 310px
			height 35px
			color #444
		#subscribe
			input
				width 84px
				height 30px
				border-radius 0
				background linear-gradient(bottom right, 50% #4694E7,50% #1477DF);

				text-shadow none
				color #fff



.zone
	background #fff
.zone-header {
    padding-top: 10px;
}

.zone-content
	padding-top 10px

.zone-menu
	background url('../images/menu-bg.jpg') repeat-x 0 0 transparent
.zone-user
	padding-top 2em  

.zone-preface
	background color_plomo_bloque
	padding 15px 0 20px