color_plomo_bg = #E2E7E1
color_plomo_letra = #A5A5A5
color_plomo_2 = #555
color_plomo_bloque = #ECF1F7
color_plomo_menu = #637A9A
color_azul_titulo = #1477DF

/* */
menu_bg = #1376de
menu_activo = #ffffff
menu_inactivo = #5d7193
titulo_celeste = #1376de
titulo_marron = #7c4d11
texto_plomo =  #767676
text_link = #1376de

#page
	.container-12
	.container-16
	.container-24
	.container-32 
		width: 1000px


	.container-32 .grid-1
	.container-32 .grid-2
	.container-32 .grid-3
	.container-32 .grid-4
	.container-32 .grid-5
	.container-32 .grid-6
	.container-32 .grid-7
	.container-32 .grid-8
	.container-32 .grid-9
	.container-32 .grid-10
	.container-32 .grid-11
	.container-32 .grid-12
	.container-32 .grid-13
	.container-32 .grid-14
	.container-32 .grid-15
	.container-32 .grid-16
	.container-32 .grid-17
	.container-32 .grid-18
	.container-32 .grid-19
	.container-32 .grid-20
	.container-32 .grid-21
	.container-32 .grid-22
	.container-32 .grid-23
	.container-32 .grid-24
	.container-32 .grid-25
	.container-32 .grid-26
	.container-32 .grid-27
	.container-32 .grid-28
	.container-32 .grid-29
	.container-32 .grid-30
	.container-32 .grid-31
	.container-32 .grid-32
		margin-left: 10px;
		margin-right: 10px;


body
	background color_plomo_bg
	font-size 14px
	color color_plomo_2

.participa
.bases
	.block-title
		color color_azul_titulo
		text-transform uppercase
	.titulo
		a
			color #000
			text-transform uppercase
			text-decoration none
			font-weight bold
	.ver-mas
		float right

.participa
	padding-top 25px
.fechas-importantes
	.block-title
		color #000
		text-transform uppercase
		text-decoration none
		font-weight bold


.ganadores
	.ganadores-item
		overflow: auto;
		.imagen 
			float left
			padding: 0 10px 10px
		.edicion
			color color_plomo_2
			font-weight bold
		.cuento
			color color_plomo_2
		.ver-mas
			float right
			color color_azul_titulo



.logo-auspiciador
	p
		overflow auto
	span
		color: #A5A5A5;
	    font-size: 0.7em;
	    font-weight: bold;
	    line-height: 7em;
	    padding-left: 6.5em;
	    vertical-align: middle;
		
	img
		float right

#main-menu
	li
		margin 0
		padding 0
		a
			display inline-block
			line-height 3.4em
			padding-left 0.55em
			color color_plomo_menu
			text-transform uppercase
			font-size 0.74em
			font-weight bold

		&.first
			a
				width 53px
				height 44px
				background url('../images/menu-inicio.jpg') no-repeat 0 0 transparent
				text-indent -99999em


.noticias
	background color_plomo_bloque
	.noticia-item
		display inline-block
		width 310px
		position relative
		font-size .7em
		.group-left
			width auto
			margin-right 10px
		.group-right
			width 200px
		p
			margin 0
			color color_plomo_2
		h2
			font-size 1.4em
			margin-bottom 0
			a
				color #000
				text-decoration none
		.field-name-node-link
			float right
			a
				color color_azul_titulo
				text-decoration none

		&.views-row-first
			margin-right 10px
			width: 320px;
			float: left;
			.group-right
				background rgba(0, 0, 0, 0.62)
				position absolute
				bottom 0
				left 0
				padding: 10px;
				position: absolute;
				width: 300px;
				h2
					a
						color #fff
						text-decoration none
				.field-name-body
					color #75746F
		

#region-menu
	margin 0

.zone
	background #fff

.zone-menu
	background url('../images/menu-bg.jpg') repeat-x 0 0 transparent
.zone-user
	padding-top 2em  

.zone-preface
	background color_plomo_bloque