color_plomo_bg = #E2E7E1
color_plomo_letra = #A5A5A5
color_plomo_2 = #555
color_plomo_bloque = #ECF1F7
color_plomo_menu = #637A9A
color_azul_titulo = #1477DF



#page
	.container-12
	.container-16
	.container-24
	.container-32 
		width: 1000px


	.container-32 .grid-1
	.container-32 .grid-2
	.container-32 .grid-3
	.container-32 .grid-4
	.container-32 .grid-5
	.container-32 .grid-6
	.container-32 .grid-7
	.container-32 .grid-8
	.container-32 .grid-9
	.container-32 .grid-10
	.container-32 .grid-11
	.container-32 .grid-12
	.container-32 .grid-13
	.container-32 .grid-14
	.container-32 .grid-15
	.container-32 .grid-16
	.container-32 .grid-17
	.container-32 .grid-18
	.container-32 .grid-19
	.container-32 .grid-20
	.container-32 .grid-21
	.container-32 .grid-22
	.container-32 .grid-23
	.container-32 .grid-24
	.container-32 .grid-25
	.container-32 .grid-26
	.container-32 .grid-27
	.container-32 .grid-28
	.container-32 .grid-29
	.container-32 .grid-30
	.container-32 .grid-31
	.container-32 .grid-32
		margin-left: 10px;
		margin-right: 10px;

/* */
menu_bg = #1376de
menu_activo = #ffffff
menu_inactivo = #5d7193
titulo_celeste = #1376de
titulo_marron = #7c4d11
texto_plomo =  #767676
text_link = #1376de

@font-face
	font-family: opensansb;
	src: url(fonts/OpenSans-CondBold.ttf);

@font-face
	font-family: opensansl;
	src: url(fonts/OpenSans-CondLight.ttf);

@font-face
	font-family: opensansli;
	src: url(fonts/OpenSans-CondLightItalic.ttf);	

h1
h2
h3
h4
h5
h6
	font-family opensansl
	color titulo_celeste
	text-transform uppercase


body
	background color_plomo_bg
	font-size 16px
	color texto_plomo
	font-family opensansl 


h2.block-title
	font-size 23px


p
	font-size 1em

.auspi-logos
	text-align center
	margin-top 24px
	.block-inner
		border-top 1px solid #ccc
	.block-title
		bottom: 18px;
		font-family: opensansl;
		font-weight: normal;
		left: 0;
		position: relative;
		display: inline-block;
		background #fff
		padding: 0 10px;
	.auspi-item
		display inline-block

.cuentos
	background url("../images/bg-home-edicionesanteriores.jpg")  0 0 transparent
	padding: 15px 20px;
	margin-top: 10px;
	.block-title
		color titulo_marron
	.cuento-item
		width 30%
		display inline-block
		overflow auto
		.titulo
			a
				color #000
				text-decoration none
		.ver-mas
			float right
			a
				color #000
				text-decoration none
		.autor
			.nombre
				color #444444
				font-family opensansb
		&.views-row-even
			border-left 1px dotted #555
			border-right 1px dotted #555
			margin: 0 20px;
			padding: 0 20px;

.ganadores
	.ganadores-item
		overflow: auto;
		color texto_plomo
		.imagen 
			float left
			padding: 0 10px 10px
		.titulo
			color #000
			font-weight: bold;
		.edicion
			font-weight bold
		.ver-mas
			float right
			color text_link



.logo-auspiciador
	p
		font-weight: bold;
		line-height: 4em;
		overflow: auto;
		padding-left: 5em;
		span
			font-size: 0.9em;
		
	img
		float right

#main-menu
	li
		margin 0
		padding 0
		a
			display inline-block
			line-height 2.75em
			padding-left  0.8em;
			color menu_inactivo
			text-transform uppercase
			font-size 1em
			font-family opensansb
			&.active
				color menu_activo
		&.first
			a
				width 53px
				height 44px
				background url('../images/menu-inicio.jpg') no-repeat 0 0 transparent
				text-indent -99999em


.noticias
	background color_plomo_bloque
	font-size 1.2em
	font-family opensansl
	color texto_plomo
	.block-title
		padding-left 10px

	.content
		padding-left 10px

	.noticia-item
		display inline-block
		width 310px
		position relative
		font-size .7em
		.group-left
			width auto
			margin-right 10px
		.group-right
			width 200px
		p
			margin 0
		h2
			font-size 1em
			margin-bottom 0
			a
				color #000
				text-decoration none
		.field-name-node-link
			float right
			a
				color color_azul_titulo
				text-decoration none

		&.views-row-first
			margin-right 10px
			width: 320px;
			float: left;
			.group-right
				background rgba(0, 0, 0, 0.69)
				position absolute
				bottom 0
				left 0
				padding: 10px;
				position: absolute;
				width: 300px;
				h2
					a
						color #fff
						text-decoration none
						text-transform none
						font-size 1.2em
						letter-spacing: 0.01em;
	

.participa
.bases
	.block-title
		color color_azul_titulo
		text-transform uppercase
	.titulo
		a
			color #000 
			text-transform uppercase
			text-decoration none
			font-weight bold
	.ver-mas
		text-align right

.participa
	padding-top 30px
	.content
		border-left 1px dotted #555
		border-right 1px dotted #555
		padding: 0 30px;
	
.fechas-importantes
	.block-title
		color #000
		text-transform uppercase
		text-decoration none
		font-weight bold
		font-size 1em
	.content
		margin-top 10px

#region-menu
	margin 0

#region-preface-third
	width 270px
	padding-top: 30px;


#region-preface-first
	width 290px
	padding-left 15px

#region-preface-second
	width 335px
	padding 0 10px

#region-footer-second
#region-footer-first
#region-postscript-first 
	margin: 0;
	width: auto;

#region-footer-second
	background #BED0E4
	width: 100%;
	margin-top: 20px;
	padding-top: 30px;
	.mf
	section
		vertical-align top
		display inline-block
		width auto
		.block-title
			text-transform capitalize
	
	.siguenos
		padding 0 50px
		.content
			ul
				li
					list-style none
					display inline-block
					a
						color titulo_celeste
						text-decoration none
	.mf
		padding 20px 50px
		text-align center
		border-left 1px dotted #555
		border-right 1px dotted #555
		.menu
			li
				list-style none
				a
					color titulo_celeste
					text-decoration none
					font-family opensansb
					text-transform uppercase
	.newsletter
		width 320px
		margin 0 30px 50px
		input
			width 310px
			height 35px
			color #444
		#subscribe
			input
				width 84px
				height 30px
				border-radius 0
				background #1477DF
				text-shadow none
				color #fff



.zone
	background #fff
.zone-header {
    padding-top: 10px;
}

.zone-menu
	background url('../images/menu-bg.jpg') repeat-x 0 0 transparent
.zone-user
	padding-top 2em  

.zone-preface
	background color_plomo_bloque
	padding 15px 0 20px